<!DOCTYPE html>
<html lang="en" class="no-js" style="height: initial" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<title>Fullscreen Form Interface</title>
		<meta name="description" content="Fullscreen Form Interface: A distraction-free form concept with fancy animations" />
		<meta name="keywords" content="fullscreen form, css animations, distraction-free, web design" />
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="/assets/css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="/assets/css/demo.css" />
		<link rel="stylesheet" type="text/css" href="/assets/css/component.css" />
		<link rel="stylesheet" type="text/css" href="/assets/css/cs-select.css" />
		<link rel="stylesheet" type="text/css" href="/assets/css/cs-skin-boxes.css" />
		<script src="/assets/js/modernizr.custom.js"></script>
	</head>
	<body>
		<header class="header">
			<div class="header__profile">
				<img src="https://via.placeholder.com/50x50" alt="">

				<div class="header__info">
					<span class="info__nickname">aligator228</span>

					<span>Пахвалов Ю.Р.</span>
				</div>
			</div>

			<button class="fs-submit">Вийти з акаунту</button>
		</header>

		<main class="main">
			<aside class="aside">
				<a href="javascript:void(0)">Зміни</a>
				<a href="javascript:void(0)">Інше</a>
			</aside>

			<div class="main__block">
				<article class="main__container">
					<div class="container__title">
						<h3 th:text="${request.eventName}">Похід за грибами</h3>

						<div class="container__timestamp">
							<span th:text="${request.startDateTime}">24/10/18 14:30</span>
							<span th:text="${request.finishDateTime}">24/10/18 16:30</span>
						</div>
					</div>

					<div class="container__title">
						<div class="container__title-name">
							<span>Василь</span>

							<span class="status" th:text="${request.currentStatus}">розглядається</span>
						</div>
					</div>

					<p class="main__container-text" th:text="${request.purpose}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium assumenda commodi cum cumque delectus doloremque dolores dolorum ea eligendi enim esse excepturi explicabo fugiat inventore ipsam labore magnam maxime minima nam, natus nemo neque nihil possimus quibusdam ratione reiciendis rem repellat sapiente sint voluptatem! Earum facilis iure molestiae nisi perferendis.</p>

					<div class="main__container-room">
						<h3>Місце проведення заходу:</h3>&nbsp;<span th:text="${'Корпус '+request.roomName.building}">Аудиторія номер</span>&nbsp;<span th:text="${'аудиторія '+request.roomName.name}">501</span>
					</div>

					<div class="main__block">

						<form action="" class="main__container-organizators">
							<span>Куратори:</span>

							<div class="container__form">
								<select name="teachers" id="">
									<option value="">Куратори</option>
								</select>
							</div>

							<button class="fs-submit">Додати</button>
						</form>

						<form action="" class="main__container-organizators">
							<span>Організатори:</span>

							<div class="container__form">
								<select name="nickname" id="">
									<option value="">nickname</option>
								</select>
							</div>

							<div class="container__form">
								<label for=""></label>
								<input type="text" placeholder="Обов'язки">
							</div>

							<div class="container__form">
								<label for=""></label>
								<input type="tel" placeholder="Номер телефону">
							</div>

							<div class="container__form">
								<label for=""></label>
								<input type="text" placeholder="Спеціалізація">
							</div>

							<div class="container__form">
								<label for=""></label>
								<input type="text" placeholder="Кількість годин">
							</div>

							<button class="fs-submit">Додати</button>
						</form>
					</div>
					
					<div class="main__container-list">
						<ul th:each="teamMember:${team}">
							<li th:text="${teamMember.getUser().getUsername()}">antoshka</li>
							<li th:text="${teamMember.getResponsibility()}">Виховує студентів</li>
							<li th:text="${teamMember.getPhoneNumber()}">099 99 99 999</li>
							<li th:text="${teamMember.getSpecialisation()}">Викладач</li>
							<li th:text="${teamMember.getHours()}">8</li>
						</ul>
					</div>

					<form action="/e_request/requests/upload_file" method="post" enctype="multipart/form-data">
						<input type="file" name="file" accept="application/msword, text/plain" class="input__upload">
						<input type="number" name="userId" hidden th:value="1">
						<input type="number" name="eventId" hidden th:value="${request.getId()}">
						<button class="fs-submit">Submit</button>
					</form>

					<h3>Репетиція</h3>
					<div class="main__container-repetition">

						<div class="main__container-room">
							<h3>Місце проведення репетиції:</h3>&nbsp;<span th:text="${'Корпус '+request.roomName.building}">Аудиторія номер</span>&nbsp;<span th:text="${'аудиторія '+request.roomName.name}">501</span>
						</div>

						<div class="container__timestamp">
							<span th:text="${prepStartDateTime}">24/10/18 14:30</span>
							<span th:text="${prepFinishDateTime}">24/10/18 16:30</span>
						</div>
					</div>

					<img src="/assets/img/telegram.svg" alt="" class="pr">
					<img src="/assets/img/facebook.svg" alt="" class="pr">
					<img src="/assets/img/viber.svg" alt="" class="pr">
				</article>
			</div>
		</main>
	</body>

</html>